.right .r-login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: go-back .8s ;
}
.right .r-login.ativar{
    display: none;
}
.right .r-login .r-loginConteiner{
    background-color: rgba(255, 255, 255, 0.226);
    width: 60%;
    height: 60%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    gap: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.411);
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border: transparent;
    background-color: rgba(255, 255, 255, 0.185);
    height: 26px;
    border-radius: 0 15px 15px 0;
    outline: none;
    transition: .8s;
}

input:hover{
    border-right: 3px solid rgb(65, 134, 77);
}
input:focus{
    background-color: rgba(255, 255, 255, 0.37);
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.r-loginLink{
    cursor: pointer;
    color: rgb(15, 73, 15);

}
.r-loginLink:hover{
    color: white;
}
.r-loginBotaoEntrar{
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    transition: .6s;
    font-family: Arial, Helvetica, sans-serif;
}
.r-loginBotaoEntrar:hover{
    border: 1px solid white;
}
@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

